In [21]:
import pandas as pd
import numpy as np
import requests
import json

twoLetterDomains = pd.read_csv('nodeApps/commonResults/2symbol/FreeDomains_2_symbols_beforeFiltering', low_memory = False)

In [22]:
def getTypeOfTld(row):
    return myDict.get(row['tld'])

## Get some randomized domains to check via UI on godaddy

In [23]:
for i in range(0,30):
    print(twoLetterDomains.sample()['domain'].as_matrix().tolist())

['yu.christmas']
['r1.auto']
['vm.holdings']
['o7.yoga']
['vw.tax']
['ew.domains']
['fv.surf']
['bg.bingo']
['7n.gives']
['an.pub']
['g6.productions']
['t0.rent']
['wz.reisen']
['nk.taxi']
['l1.fashion']
['f8.restaurant']
['tx.computer']
['dm.tienda']
['lw.industries']
['rn.solar']
['mn.watch']
['av.cleaning']
['ev.tienda']
['vz.cleaning']
['hf.blackfriday']
['lx.pink']
['zx.apartments']
['wz.forsale']
['yd.fishing']
['yv.delivery']

In [24]:
headers = {'Authorization': 'sso-key 2s7YtNpHjf_WyEyVKJJmAxCdxKq4u2xgt:WyF2XttkN1DQVCKWCRH5nk'}
r = requests.get("https://api.ote-godaddy.com/v1/domains/tlds", headers = headers)
js = json.loads(r.text)
myDict = {}
for item in js:
    myDict[item['name']] = item['type']

In [25]:
twoLetterDomains['tldType'] =  twoLetterDomains.apply (lambda row: getTypeOfTld (row),axis=1)

In [26]:
twoLetterDomains.head()

,id,sldLength,tld,domain,price,roublePrice,available,definitive,tldType
0,1,1,actor,1.actor,20000,1199520,True,True,GENERIC
1,2,1,airforce,1.airforce,14000,839664,True,True,GENERIC
2,3,1,army,1.army,14000,839664,True,True,GENERIC
3,4,1,bingo,1.bingo,800,47981,True,True,GENERIC
4,5,1,builders,1.builders,800,47981,True,True,GENERIC

In [28]:
twoLetterDomains[twoLetterDomains['tldType']!='GENERIC']

,id,sldLength,tld,domain,price,roublePrice,available,definitive,tldType
6279,10176,2,cz,1g.cz,20,1200,True,True,COUNTRY_CODE
17348,49260,2,cz,4t.cz,20,1200,True,True,COUNTRY_CODE
25231,86186,2,cz,7y.cz,20,1200,True,True,COUNTRY_CODE
83653,248203,2,cz,mg.cz,20,1200,True,True,COUNTRY_CODE

## Select file to save dataset with additional column

In [29]:
twoLetterDomains.to_csv('nodeApps/commonResults/2symbol/all_FreeDomains_2_symbols', index = False)

In [30]:
twoLetterDomains.shape

(133470, 9)

## Select file to save dataset with only country_codes

In [19]:
twoLetterDomains[twoLetterDomains['tldType'] != 'GENERIC'].to_csv('./nodeApps/FreeDomains_filtered_only_countryCodes_with_tldType', index =False)