In [7]:
import pandas as pd
import numpy as np

In [8]:
twoLetterDomains = pd.read_csv('nodeApps/commonResults/2symbol/FreeDomains_2_symbols_beforeFiltering',low_memory=False)
shortWords = pd.read_table('nodeApps/sortWords.txt',sep='\n',header=None)

In [9]:
twoLetterDomains.head()

,id,sldLength,tld,domain,price,roublePrice,available,definitive
0,1,1,actor,1.actor,20000,1199520,True,True
1,2,1,airforce,1.airforce,14000,839664,True,True
2,3,1,army,1.army,14000,839664,True,True
3,4,1,bingo,1.bingo,800,47981,True,True
4,5,1,builders,1.builders,800,47981,True,True

In [13]:
shortWordsArray = shortWords[0].as_matrix().tolist()
letter_3_words = list(filter(lambda x: len(x)==1 or len(x)==2, shortWordsArray))

In [14]:
domainsInList = twoLetterDomains[twoLetterDomains.apply(lambda x: x['domain'][0:x['domain'].index('.')] in(letter_3_words), axis=1)]

In [15]:
# domainsInListWithDefinitiveTrue = twoLetterDomains[twoLetterDomains
#                                                    .apply(lambda x: x['domain'][0:x['domain'].index('.')] 
#                                                           in(letter_3_words) and x['definitive']==True, axis=1)]

In [16]:
domainsInList.to_csv('./nodeApps/commonResults/2symbol/FreeDomains_2_symbols_afterFiltering', index =False)

# domainsInListWithDefinitiveTrue.to_csv('./nodeApps/all_3_DomainsWithRequestedCombinationsAndDefinitiveTrue',index=False)